<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892484966906-i1ot1kp3a450a9sdaode17t7251ieqs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892484966906-i1ot1kp3a450a9sdaode17t7251ieqs8</string>
	<key>API_KEY</key>
	<string>AIzaSyC5E6XjA-0C1ab_ucOym3F7IOhmRH9YYXk</string>
	<key>GCM_SENDER_ID</key>
	<string>892484966906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VisuadInc.Visuad</string>
	<key>PROJECT_ID</key>
	<string>visuad-nana</string>
	<key>STORAGE_BUCKET</key>
	<string>visuad-nana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892484966906:ios:246bd3e4b12e3b1f696c43</string>
</dict>
</plist>